div.GamePin main{
    height: calc(100vh - 116px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: left;
}

div.GamePin main h2.heading{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 50px;
}
button{
    font-size: 20px;
    background:none;
    border:none;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}